* {
    box-sizing: border-box;
}

:root {
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;

}

body {
    background: rgb(28, 28, 28);
    color: white;
}

.today {
    color: white;
}

.navegacion a {
    text-decoration: none;
    color: white;
}

.navegacion li {
    padding: 10px;
}

.navegacion li:hover {
    background: var(--color-principal);
}

.todaysoffer {
    padding-bottom: 1.5em;
}

.todaysoffer h3 {
    font-weight: bold;
}

.offers-plato h3 {
    font-weight: 700;
    margin: 1em 0;
}

.offers-plato span {
    color: var(--color-principal);
}

.offers-plato .enlace {
    padding-bottom: 1em;
}

.todaysoffer p {
    font-size: 12px;
}
.todaysoffer .underline {
    margin: 0;
    padding: 1em 0;
}
.offers-plato p {
    font-size: 12px;
}

.principal {
    position: relative;
    line-height: 1.5em;
}

.flechatop {
    background-color: var(--color-principal);
    color: white;
    width: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    position: absolute;
    margin-left: 95%;
    margin-bottom: 4em;

}

@media (min-width: 48em) {
    .principal {
        display: flex;
        flex-direction: row;
    }

    .nav-todaysoffer {
        max-width: 30%;
        margin-top: 3em;
    }

    .offers {
        max-width: 70%;
    }


    .nav {
        height: 50%;
    }

    .todaysoffer {
        height: 50%;
    }

    .flechatop {
        display: none;
    }

    .article-plato {
        display: flex;
        flex-direction: row;
        margin: 2em 1em;
    }

    .texto-plato {
        padding: 0.5em 1em;
    }

    .texto-plato span {
        display: inline-block;
        padding-left: 1em;
    }

    .imagen-plato {
        width: 30%;
    }
}